<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="container border mt-4 mb-2">
        <div class="col-lg-6">
            <h1 class="text-center card-header mb-5" style="color: white; background-color: rgb(94, 192, 221);">Add a User</h1>
            <form action="/create" method="POST" class="col-lg-10">
                <input name = "authenticity_token" value = "<% form_authenticity_token%>" type = "hidden">
                    <div class="form-row m-2">
                        <label for="title">Name: </label>
                        <div class="col d-flex justify-content-end">
                            <input type="name" name="name">
                        </div>
                    </div>
                    <div class="form-row mt-5 mb-5 d-flex justify-content-center">
                        <input type="submit" value="Add" class="btn btn-primary mb-2">
                    </div>
            </form>
        </div>
<div>
</body>
</html>
